{
  "presets": [
     [
         "@babel/env",
         {
            "useBuiltIns": "usage",
            "corejs": "3.0.0",
            "targets": {
                "browsers": ">1%, not dead, not ie 11, not op_mini all",
                "node": 10
            }
         }
      ], 
      "@babel/react"
  ],
  "plugins" : [
      "dynamic-import-node"
  ]
}